<!DOCTYPE html>
<html>
<head>
<title>Explore TV Series</title>
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/js/newFile.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-dsiAopxH8C0+fqPo5kRld0rAq6Lqz6g4ls4cwqsQ5T2u8hLOUq6XqUVCYbANtbEwS/ogQ1Rbvv3y/6dP3W2pDA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: black;
            color: white
        }
    </style>
</head>

<body>
    <h1 class="mb-3">Explore TV Series</h1>
    <div class="mb-4">

        <select id="genre">
            <option value="action"><b>Genre</b></option>
            <option value="action">Action</option>
            <option value="adventure">Adventure</option>
            <option value="animation">Animation</option>
            <option value="comedy">Comedy</option>
            <option value="crime">Crime</option>
            <option value="documentary">Documentary</option>
            <option value="drama">Drama</option>
            <option value="family">Family</option>
            <option value="fantasy">Fantasy</option>
            <option value="history">History</option>
            <option value="horror">Horror</option>
            <option value="music">Music</option>
            <option value="mystery">Mystery</option>
            <option value="romance">Romance</option>
            <option value="science_fiction">Science Fiction</option>
            <option value="tv_movie">TV Movie</option>
            <option value="thriller">Thriller</option>
            <option value="war">War</option>
            <option value="western">Western</option>
        </select>

        <select id="genre">
            <option value="action">Language</option>
            <option value="action">English</option>
            <option value="adventure">Hindi</option>
            <option value="animation">Japanese</option>
            <option value="comedy">Gujarati</option>
            <option value="crime">French</option>
            <option value="documentary">Korean</option>

        </select>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <div class="col">
            <div class="card" style="border:none">
                <img src="~/images/AOT.jpg" class="card-img-top" alt="..." height="395px" width="300px">
                <div class="card-body" style="background-color:#1A1A1A">
                    <div style="display:inline">
                        <p style="display:inline;font-size:24px;color:gold">★10</p>
                        <p style="display:inline;font-size:24px;color:blue;position:absolute;right:27px">☆</p>
                    </div>
                    <p class="card-text" style="color:white">Attack on Titan</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="border:none">
                <img src="~/images/BB.jpg" class="card-img-top" alt="..." height="395px" width="300px">
                <div class="card-body" style="background-color:#1A1A1A">
                    <div style="display:inline">
                        <p style="display:inline;font-size:24px;color:gold">★10</p>
                        <p style="display:inline;font-size:24px;color:blue;position:absolute;right:27px">☆</p>
                    </div>
                    <p class="card-text" style="color:white">Breaking Bad</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="border:none">
                <img src="~/images/FRIENDS.jpg" class="card-img-top" alt="..." height="395px" width="300px">
                <div class="card-body" style="background-color:#1A1A1A">
                    <div style="display:inline">
                        <p style="display:inline;font-size:24px;color:gold">★10</p>
                        <p style="display:inline;font-size:24px;color:blue;position:absolute;right:27px">☆</p>
                    </div>
                    <p class="card-text" style="color:white">FRIENDS</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="border:none">
                <img src="~/images/GOT.jpg" class="card-img-top" alt="..." height="395px" width="300px">
                <div class="card-body" style="background-color:#1A1A1A">
                    <div style="display:inline">
                        <p style="display:inline;font-size:24px;color:gold">★10</p>
                        <p style="display:inline;font-size:24px;color:blue;position:absolute;right:27px">☆</p>
                    </div>
                    <p class="card-text" style="color:white">Game of Thrones</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <div class="col">
            <div class="card" style="border:none">
                <img src="~/images/GOT.jpg" class="card-img-top" alt="..." height="395px" width="300px">
                <div class="card-body" style="background-color:#1A1A1A">
                    <div style="display:inline">
                        <p style="display:inline;font-size:24px;color:gold">★10</p>
                        <p style="display:inline;font-size:24px;color:blue;position:absolute;right:27px">☆</p>
                    </div>
                    <p class="card-text" style="color:white">Game of Thrones</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="border:none">
                <img src="~/images/FRIENDS.jpg" class="card-img-top" alt="..." height="395px" width="300px">
                <div class="card-body" style="background-color:#1A1A1A">
                    <div style="display:inline">
                        <p style="display:inline;font-size:24px;color:gold">★10</p>
                        <p style="display:inline;font-size:24px;color:blue;position:absolute;right:27px">☆</p>
                    </div>
                    <p class="card-text" style="color:white">FRIENDS</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="border:none">
                <img src="~/images/BB.jpg" class="card-img-top" alt="..." height="395px" width="300px">
                <div class="card-body" style="background-color:#1A1A1A">
                    <div style="display:inline">
                        <p style="display:inline;font-size:24px;color:gold">★10</p>
                        <p style="display:inline;font-size:24px;color:blue;position:absolute;right:27px">☆</p>
                    </div>
                    <p class="card-text" style="color:white">Breaking Bad</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="border:none">
                <img src="~/images/AOT.jpg" class="card-img-top" alt="..." height="395px" width="300px">
                <div class="card-body" style="background-color:#1A1A1A">
                    <div style="display:inline">
                        <p style="display:inline;font-size:24px;color:gold">★10</p>
                        <p style="display:inline;font-size:24px;color:blue;position:absolute;right:27px">☆</p>
                    </div>
                    <p class="card-text" style="color:white">Attack on Titan</p>
                </div>
            </div>
        </div>
    </div>
<button type="button" class="btn btn-warning" style="display:flex;justify-content: center; align-items: center;margin: 0">Load More</button>
</body>
</html>